---
import catvideo1 from "../../public/videos/cat1cortado.mp4"
import bentocat from "../../public/images/bentocat5.webp"
import bentocat3 from "../../public/images/bentocat3.webp"
import cat4 from "../../public/images/bentocat4.jpg"
import cat5 from "../../public/images/bentocat2.jpg"
import { Image } from "astro:assets"
---

<section id='bento' class='bento'>
    <div class='parent'>
        <div class='div1'>
            <div class='v_tips'>
                <h2>Their language is mainly body-based</h2>
                <p>
                    Even though their verbal language is amazing, they mainly
                    use body language to express their moods, emotions, and
                    perceptions.
                </p>
            </div>
            <Image src={bentocat3} alt='cat' />
        </div>
        <div class='div2'>
            <Image src={bentocat} alt='cat' />
            <div class='v_tips'>
                <h2>They have more bones than humans</h2>
                <p>
                    A healthy cat has around 230 bones, which is 24 more than
                    the human skeleton.
                </p>
            </div>
        </div>
        <div class='div3'>
            <video loop autoplay muted src={catvideo1}></video>
        </div>
        <div class='div4'>
            <Image src={cat4} alt='cat' />
            <div class='v_tips'>
                <h2>Their nose, their fingerprint</h2>
                <p>
                    Each one has a unique and unmatched design on the pad of
                    their nose—more than fingerprints, we could say they have
                    nose prints.
                </p>
            </div>
        </div>
        <div class='div5'>
            <Image src={cat5} alt='cat' />
            <div class='v_tips'>
                <h2>Launched into space</h2>
                <p>
                    On October 18, 1963, Félicette—also known as (Astrocat)—was
                    the first and only cat to go to outer space. She was
                    launched by the French space agency CNES on a Véronique AG1
                    suborbital rocket.
                </p>
            </div>
        </div>
    </div>
    <style>
        video {
            width: 100%;
            object-fit: cover;
        }

        .parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 8px;
            padding: 0 2em;
            & img,
            & video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            > div {
                border-radius: 1em;
                overflow: hidden;
                position: relative;
                &:hover .v_tips_1 {
                    bottom: 0;
                    transition: 0.5s ease;
                }
                &:hover .v_tips {
                    bottom: 0;
                    transition: 0.5s ease;
                }
            }
        }

        .div5 {
            grid-row: span 4 / span 4;
        }

        .div4 {
            grid-row: span 4 / span 4;
        }

        .div2 {
            grid-row: span 3 / span 3;
            grid-row-start: 5;
        }

        .div1 {
            grid-row: span 3 / span 3;
            grid-row-start: 5;
        }

        .div3 {
            grid-column: span 2 / span 2;
            grid-row: span 4 / span 4;
            grid-row-start: 9;
        }

        .v_tips {
            position: absolute;
            bottom: -200%;
            color: white;
            transition: 0.5s ease;
            padding: 0.5em;
            z-index: 100;
            border-radius: 1em;
            backdrop-filter: blur(50px);
        }
        .v_tips {
            h2 {
                font-size: 1em;
            }
            p {
                font-size: 0.7em;
            }
        }

        @media (width > 768px) {
            .parent {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(6, 1fr);
                gap: 8px;
                padding: 0;
            }
            .div1 {
                grid-column: span 2 / span 2;
                grid-row: span 6 / span 6;
            }

            .div2 {
                grid-column: span 2 / span 2;
                grid-row: span 3 / span 3;
                grid-column-start: 3;
            }

            .div3 {
                grid-column: span 4 / span 4;
                grid-row: span 3 / span 3;
                grid-column-start: 3;
                grid-row-start: 4;
            }

            .div4 {
                grid-column: span 2 / span 2;
                grid-row: span 3 / span 3;
                grid-column-start: 5;
                grid-row-start: 1;
            }

            .div5 {
                grid-column: span 2 / span 2;
                grid-row: span 6 / span 6;
                grid-column-start: 7;
                grid-row-start: 1;
            }
            .v_tips {
                h2 {
                    font-size: 1.5em;
                }
                p {
                    font-size: 1em;
                }
            }
        }
    </style>
</section>
